<%= render 'shared/errors', obj: @trip %>
<div class="container">
	<%= form_for(@trip, :html => {class: "form-horizontal", role: "form"}) do |f| %>
		<div class="row">
			<div class="col-md-9">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control", id: "tripNameInput", placeholder: "Name of trip", autofocus: true %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<%= f.label :destination %>
				<%= f.text_field :destination, rows: 10, class: "form-control", id: "tripDestinationInput", placeholder: "Enter Destination" %>
			</div>
			<div class="col-md-3">
				<%= f.label :start_date %>
				<%= f.date_field :start_date, class: "form-control", id: "tripStartDateInput", placeholder: "Start Date" %>
				<%= f.label :end_date %>
				<%= f.date_field :end_date, class: "form-control", id: "tripEndDateInput", placeholder: "End Date" %>
			</div>
			<div class="col-md-3">
				<%= f.label :number_of_travelers %>
				<%= f.number_field :num_of_travelers, class: "form-control", id: "tripNumTravelerInput", placeholder: "Number of Travelers" %>
			</div>
		</div>


		<div class="step44">
			<%= f.submit class: "btn btn-primary btn-lg" %>
		</div>

	<% end %>
</div>
