<% obj.each do |trip| %>
	<div class="row">
		<div class="col-md-8 well">
			<h4><%= link_to trip.name, trip_path(trip) %></h4>
			<h5><%= trip.destination %></h5>
			<h5>Start date: <%= trip.start_date %></h5>
			<h5>End date: <%= trip.end_date %></h5>
			<h5>Number of Travlers: <%= trip.num_of_travelers %></h5>
			<div class="pull-right">
				<small>Created by <%= link_to trip.user.name, root_path %>
					<%= time_ago_in_words(trip.created_at) %> ago</small>
			</div>
			<% if logged_in? && (current_user == trip.user || current_user.admin?) %>
				<div class="trip-actions">

					<%= link_to "Edit this trip", edit_trip_path(trip), class: "btn btn-xs btn-warning" %>
					<%= link_to "Delete this trip", trip_path(trip), method: :delete,
									data: { confirm: "Are you sure you want to delete?"},
									class: "btn btn-xs btn-warning" %>
				</div>
			<% end %>
		</div>
	</div>

<% end %>
