<%= render 'shared/page_title', title: @trip.name %>

<div class="well col-md-8 col-md-offset-2">
	<h4 class="center description"><strong>Description: </strong></h4>
	<hr />
	<%= @trip.destination %>
	<h5>Start date: <%= @trip.start_date %></h5>
	<h5>End date: <%= @trip.end_date %></h5>
	<h5>Number of Travelers: <%= @trip.num_of_travelers %></h5>
	<div class="pull-right">
		created by: <%= link_to @trip.user.name, trips_path %> <%= time_ago_in_words(@trip.created_at) %> ago
	</div>
	<div class="trip-actions">
		<% if logged_in? && (current_user == @trip.user || current_user.admin?) %>
			<%= link_to "Edit this trip", edit_trip_path(@trip), class: "btn btn-xs btn-warning" %>
			<%= link_to "Delete this trip", trip_path(@trip), method: :delete,
							data: { confirm: "Are you sure you want to delete?"},
							class: "btn btn-xs btn-warning" %>
		<% end %>


		<%= link_to "Return to trips", trips_path, class: "btn btn-xs btn-warning" %>

	</div>
</div>
