<%= render 'shared/page_title', title: @trip.name %>
<div class="well col-md-8 col-md-offset-2">
	<h4 class="center description"><strong>Description: </strong></h4>
	<hr />
	<%= @trip.destination %>
	<div class="pull-right">
		created by: <%= link_to @trip.user.name, trips_path %> <%= time_ago_in_words(@trip.created_at) %> ago
	</div>
	<div class="trip-actions">
		<%= link_to "Edit this trip", edit_trip_path(@trip), class: "btn btn-xs btn-warning" %>
		<%= link_to "Delete this trip", trip_path(@trip), method: :delete,
						data: { confirm: "Are you sure you want to delete?"},
						class: "btn btn-xs btn-warning" %>
	</div>
</div>
