<%= render 'shared/page_title', title: "#{@user.name}'s profile " %>


<h2 align="center"><%= @user.name %>'s trips</h4>

<div align="center">
  <%= will_paginate @user_trips %>
</div>

<%= render 'trips/trip', obj: @user_trips %>

<div align="center">
  <%= will_paginate @user_trips %>
</div>
